h1.SorM {
  font-size: 20px;
  text-align: center;
}
.Option {
  display: flex;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}
.Option .IconBox {
  padding: 4px;
  margin-right: 5px;
}
.Option .IconBox svg {
  display: block;
}
.Option .optionInput {
  outline: none;
  border: 0px;
  border-bottom: 1px solid #eee;
  padding: 1em;
  width: 100%;
}
.Option .optionInput::placeholder {
  color: #ccc;
}
